body{
    background-color: #1D2A3C;
    
    background-size: 5%;
    color: #FFFFFF;
}

p, a{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px !important;
}

a, a:hover{
    color: #E8AA44;

}

.header{
    top:0px;
    position: fixed;
    height: 200px;
    display: block;
    width: 100%;
    z-index: 9;
    background-color: #253143;
}

.a_icon:hover{
    text-decoration: none;
}

.icon{

    text-align: center;
    display: inline-block;
}

#section_hello{
    text-align: center;
}

#icon_linkedin{
    background-image: url('linkedin.png');
    width:32px;
    height:32px;
    background-size: 32px 32px;
}

#icon_linkedin:hover{
    background-image: url('linkedin_hover.png');
    background-size: 32px 32px;
}

#icon_viadeo{
    background-image: url('viadeo.png');
    width:32px;
    height:32px;
    background-size: 32px 32px;
}

#icon_viadeo:hover{
    background-image: url('viadeo_hover.png');
    background-size: 32px 32px;
}

#icon_mail{
    background-image: url('mail.png');
    width:32px;
    height:32px;
    background-size: 32px 32px;
}

#icon_mail:hover{
    background-image: url('mail_hover.png');
    background-size: 32px 32px;
}

#icon_cv{
    background-image: url('cv.png');
    width:32px;
    height:32px;
    background-size: 32px 32px;
}

#icon_cv:hover{
    background-image: url('cv_hover.png');
    background-size: 32px 32px;
}

.hello_profil{
    margin-top:80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hello_title{
    margin-top:25px;
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    text-align: center;
}

.hello_text{
    width:650px;
    margin-left: auto;
    margin-right: auto;
}

.hello_line{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    line-height: 25px;
    margin-top: 35px;
    text-align: justify;
    text-justify: inter-word;
}

.hello_bottom{

}

.title_block{
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title_block>.line1{
    font-family: 'Oswald', sans-serif;
    font-size: 52px;
    text-align: center;
}

.title_block>.line2{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
}

.title_icons{
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
}

.title_block>.title_icons>a>.icon{
    cursor: pointer;
}

.section{
    padding-top: 30px;
    padding-bottom: 20px;
}

.section_title{
    font-family: 'Oswald', sans-serif;
    font-size: 64px;
    opacity: 0.3;
    margin-left:30px;
}


/*
#section_formation, #section_competences{
    background-color: #253143;
}
*/

.card{
    background-color: #253143;
    color: #FFFFFF;
	border-radius: 2px;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 1px;
	box-shadow: 0px 1px 10px #000000;

    margin-left: auto;
    margin-right: auto;

    width:650px;

    padding:10px;
    margin-bottom: 40px;
}

.card:hover{
    /*border-color: #E8AA44;*/
}

.card>.row>.title{
}

.card>.row>.title>p
{
    font-weight:600;
}

.card>.row>.loc{

}

.card>.row>.date{
    text-align: right;
}

.card>.row>.summary{
    text-align: justify;
}

/*

.header{
    height:75px;
    line-height: 75px;
}

.header>.left{
    
}

.header>.left>.title{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    vertical-align: center;
}

.header>.right>{
    
}

.header>.right>.section_link{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: inline-block;
    vertical-align: center;
    padding-right: 25px;
    cursor: pointer;
    float: right;
}

.header>.right>.selected{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: inline-block;
    vertical-align: center;
    padding-right: 25px;
    cursor: pointer;
    float: right;

}

.content{
    padding-top: 100px;
}

.card{
    background-color:#FFFFFF;
    color: #1D2A3C;
	border-radius: 2px;
	box-shadow: 0px 1px 10px #000000;

    margin-left: auto;
    margin-right: auto;

    width:50em;

    padding:10px;
    margin-bottom: 40px;
}

.card>.row>.title{
}

.card>.row>.title>p
{
    font-weight:600;
}

.card>.row>.loc{

}

.card>.row>.date{
    text-align: right;
}

.card>.row>.summary{
    text-align: justify;
}

*/